# Pandas Laboratory Activity

The dataset in this activity is called the African Economy dataset. This specifically focuses on the Banking, Debt, Financial, Inflation and Systemic Crises that occurred, from 1860 to 2014, in 13 African countries, including: Algeria, Angola, Central African Republic, Ivory Coast, Egypt, Kenya, Mauritius, Morocco, Nigeria, South Africa, Tunisia, Zambia and Zimbabwe.



* caseA     number which denotes a specific country
* cc3A     three letter country code
* country    The name of the country
* year   The year of the observation
* systemic_crisis"0" means that no systemic crisis occurred in the year and "1" means that a systemic crisis occurred in the year.
* exch_usd    The exchange rate of the country vis-a-vis the USD
* domestic_debt_in_default   "0" means that no sovereign domestic debt default occurred in the year and "1" means that a sovereign domestic debt default occurred in the year
* sovereign_external_debt_default  "0" means that no sovereign external debt default occurred in the year and "1" means that a sovereign external debt default occurred in the year
* gdp_weighted_default    The total debt in default vis-a-vis the GDP
* inflation_annual_cpi    The annual CPI Inflation rate
* independence   "0" means "no independence" and "1" means "independence"
* currency_crises  "0" means that no currency crisis occurred in the year and "1" means that a currency crisis occurred in the year
* inflation_crises  "0" means that no inflation crisis occurred in the year and "1" means that an inflation crisis occurred in the year
* banking_crisis"no_crisis" means that no banking crisis occurred in the year and "crisis" means that a banking crisis occurred in the year

# Complete the Tasks Below

**TASK: Import pandas**

In [1]:
import pandas as pd

**TASK:  Read in the african_econ_crises.csv file that is attached together with this notebook. Make sure that it will be on the same folder as your notebook**

In [105]:
df = pd.read_csv('african_econ_crises.csv')

**TASK: Display the first 5 rows of the data set**

In [6]:
df.iloc[[0,1,2,3,4]]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

**TASK: How many countries are represented in this data set?**

In [13]:
df['country'].nunique()

13

13

**TASK: What are the countries represented in this data set?**

In [12]:
df['country'].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

**TASK: What country had this highest annual CPI Inflation rate? What was the inflation rate?**

In [85]:
df[df['inflation_annual_cpi'] == df['inflation_annual_cpi'].max()]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1053,70,ZWE,Zimbabwe,2008,1,0.002,1,1,0.0,21989695.22,1,1,1,crisis

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1053,70,ZWE,Zimbabwe,2008,1,0.002,1,1,0.0,21989695.22,1,1,1,crisis

**TASK: In what year did Kenya have its first System Crisis?**

In [98]:
df_country = df[df['country'] == 'Kenya']
df_country[df_country['systemic_crisis'] > 0]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
475,35,KEN,Kenya,1985,1,16.2843,0,0,0.0,11.398,1,0,0,crisis
476,35,KEN,Kenya,1986,1,16.0422,0,0,0.0,10.284,1,0,0,crisis
477,35,KEN,Kenya,1987,1,16.5149,0,0,0.0,13.007,1,0,0,crisis
478,35,KEN,Kenya,1988,1,18.5994,0,0,0.0,4.804,1,0,0,crisis
479,35,KEN,Kenya,1989,1,21.6010,0,0,0.0,7.617,1,1,0,no_crisis
482,35,KEN,Kenya,1992,1,36.2163,0,0,0.0,27.332,1,1,1,crisis
483,35,KEN,Kenya,1993,1,68.1631,0,0,0.0,45.979,1,1,1,crisis
484,35,KEN,Kenya,1994,1,44.8389,0,1,0.0,28.814,1,0,1,crisis
485,35,KEN,Kenya,1995,1,55.9389,0,1,0.0,1.554,1,0,0,crisis
486,35,KEN,Kenya,1996,1,55.0211,0,1,0.0,8.862,1,0,0,no_crisis
487,35,KEN,Kenya,1997,1,62.6778,0,1,0.0,11.924,1,0,0,no_crisis
488,35,KEN,Kenya,1998,1,61.9056,0,1,0.0,6.716,1,0,0,no_crisis
489,35,KEN,Kenya,1999,1,72.9306,0,0,0.0,5.753,1,1,0,no_crisis

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
475,35,KEN,Kenya,1985,1,16.2843,0,0,0.0,11.398,1,0,0,crisis
476,35,KEN,Kenya,1986,1,16.0422,0,0,0.0,10.284,1,0,0,crisis
477,35,KEN,Kenya,1987,1,16.5149,0,0,0.0,13.007,1,0,0,crisis
478,35,KEN,Kenya,1988,1,18.5994,0,0,0.0,4.804,1,0,0,crisis
479,35,KEN,Kenya,1989,1,21.6010,0,0,0.0,7.617,1,1,0,no_crisis
482,35,KEN,Kenya,1992,1,36.2163,0,0,0.0,27.332,1,1,1,crisis
483,35,KEN,Kenya,1993,1,68.1631,0,0,0.0,45.979,1,1,1,crisis
484,35,KEN,Kenya,1994,1,44.8389,0,1,0.0,28.814,1,0,1,crisis
485,35,KEN,Kenya,1995,1,55.9389,0,1,0.0,1.554,1,0,0,crisis
486,35,KEN,Kenya,1996,1,55.0211,0,1,0.0,8.862,1,0,0,no_crisis
487,35,KEN,Kenya,1997,1,62.6778,0,1,0.0,11.924,1,0,0,no_crisis
488,35,KEN,Kenya,1998,1,61.9056,0,1,0.0,6.716,1,0,0,no_crisis
489,35,KEN,Kenya,1999,1,72.9306,0,0,0.0,5.753,1,1,0,no_crisis

**TASK: How many yearly systemic crisises have occurred per country?**

In [158]:
df.groupby('country').count()['systemic_crisis']

country
Algeria                      85
Angola                       77
Central African Republic     58
Egypt                       155
Ivory Coast                  63
Kenya                        67
Mauritius                    68
Morocco                      75
Nigeria                      60
South Africa                114
Tunisia                      75
Zambia                       72
Zimbabwe                     90
Name: systemic_crisis, dtype: int64

country
Algeria                      85
Angola                       77
Central African Republic     58
Egypt                       155
Ivory Coast                  63
Kenya                        67
Mauritius                    68
Morocco                      75
Nigeria                      60
South Africa                114
Tunisia                      75
Zambia                       72
Zimbabwe                     90
Name: systemic_crisis, dtype: int64

**TASK: How many years did  Zimbabwe have a sovereign external debt default occur?**

In [151]:
df_zim = df[df['country'] == 'Zimbabwe']
df_sov = df_zim[df_zim['sovereign_external_debt_default'] > 0]
df_sov['sovereign_external_debt_default'].count()

30

30

**TASK: In what year did Algeria have its highest exchange rate?**

In [155]:
df_country = df[df['country'] == 'Algeria']
df_country[df_country['exch_usd'] == df_country['exch_usd'].max()]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
84,1,DZA,Algeria,2014,0,87.970698,0,0,0.0,2.917,1,0,0,no_crisis

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
84,1,DZA,Algeria,2014,0,87.970698,0,0,0.0,2.917,1,0,0,no_crisis